

body {
  background-color: #28FFFF;
  margin: 0 auto:
}

.L_Web {
  position:absolute;
  top:-10px;
  right:10px;
 }
 #CVI {
 width:45px;
 height:33px;

 }

 #RP {
   float: left;
   margin: 20px;
 }


 h1 {
   margin-top: 60px;
   font-size: 3em;
   text-align: center;
   border-radius: 5px;
   box-shadow: 5px 5px 20px #888;
   padding: 5px;
   text-shadow: 3px 3px #888;
}

h2 {
  font-size: 1.32em;
  text-align: center;

}

#left_C {
  font-style: italic;
  font-size: 15px;
  position: absolute;
  left:190px;
  top:185px;
}

#middle_C {
  font-style: italic;
  font-size: 15px;
  position: absolute;
  left: 540px;
  top:185px;
}
#right_C {
  font-style: italic;
  font-size: 15px;
  position: absolute;
  right: 320px;
  top:185px;
}

h3 {
  font-size: 1em;
  text-align: center;
  font-style: oblique;
}

.Concentration {
border: 0px solid #000;
position: absolute;
padding:5px;
width: 300px;
left: 40%;
line-height: 30px;

}
#sunset {
  position: absolute;
  left: 40px;
}

#paysage {
  position: absolute;
  right: 40px;
}

.header-fixed {
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  height: 50px;
  background-color: #FFFFFF;
  background-color: rgba(255,255,255,0.5);
  color: black;
  font-size: 20px;


}

.fa {
  padding: 5px;

}

.fa:hover {
  border-radius: 20px;
}

.fa-instagram {
  background: #a619bf;
  color: white;
}

.fa-google {
  background: #db2a2a;
  color: white;
}
.fa-linkedin {
  background: #4c84e6;
  color: white;
}
