

body {
  background-color: #CBC3E3;
  margin: 0 auto:
}

* {
    font-family: ;
    font-style: normal;
        }


 #RP {
   float: left;
   margin: 20px;
 }


 h1 {
   margin-top: 60px;
   font-size: 3em;
   text-align: center;
   border-radius: 5px;
   box-shadow: 5px 5px 20px #888;
   padding: 5px;
   text-shadow: 2px 2px #888;
   color: #;
}

h2 {
  font-size: 1.32em;
  text-align: center;
}

#left_C {
  font-style: italic;
  font-size: 15px;
  position: absolute;
  left:190px;
  top:185px;
}

#middle_C {
  font-style: italic;
  font-size: 15px;
  position: absolute;
  left: 540px;
  top:185px;
}

#right_C {
  font-style: italic;
  font-size: 15px;
  position: absolute;
  right: 320px;
  top:185px;
}

h3 {
  font-size: 1em;
  text-align: center;
  font-style: oblique;
}

.Concentration {
border: 0px solid #000;
position: absolute;
padding:5px;
width: 300px;
left: 40%;
line-height: 30px;

}
#sunset {
  position: absolute;
  left: 40px;
}

#paysage {
  position: absolute;
  right: 40px;
}
